<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>
<p>
  <strong>DOB</strong>
  <%= @customer.DOB %>
</p>
<p>
  <strong>Photo:</strong>

</p>
<p>
  <strong>Address:</strong>
  <%= @customer.Address %>
</p> 
<p>
  <strong>Phone number:</strong>
  <%= @customer.Phone_no %>
</p>	